$bg-action: #ffcc00;
$bg-action-hovered: #F2C200;

$bg-control: #E6E6E6;
$bg-control-hovered: #DBDBDB;

$bg-disabled: #F2F2F2;

$blue-gray: #7F8285;
$red: #E00000;
$green: #00B341;
$orange: #FF9A00;

$color-text: #000;
