@import '../../variables.scss';

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  background-color: rgba(0,0,0,0.5);
}

.modal {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 485px;
  width: 100%; 

  padding: 20px 17.5px;
  box-sizing: border-box;

  background-color: #ffffff;

  border-radius: 4px;

  z-index: 100;

  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 6px 16px rgba(67, 68, 69, 0.3);

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    margin-bottom: 12px;
  }

  &__info {
    font-size: 13px;
    line-height: 18px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 36px;

    margin-top: 12px;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    padding: 11px 13px 10px;

    box-sizing: border-box;
  }

  &__input {
   border: none; 
   flex-grow: 1;

   font-size: 13px;

   &:focus {
     outline: none;
   }
  }

  &__controls {
    margin-top: 12px;
  }

  &__btn {
    height: 36px;

    border: none;
    border-radius: 4px;

    box-sizing: border-box;

    padding: 0 20px;

    font-size: 13px;
    line-height: 13px;

    &_yellow {
      background-color: $bg-action;

      &:hover {
        background-color: $bg-action-hovered;
      }

      &:focus {
        outline: 2px solid #B38F00;
      }

      &:disabled {
        background-color: $bg-disabled;
      }
    }

    &_grey {
      background-color: $bg-control;

      &:hover {
        background-color: $bg-control-hovered;
        cursor: pointer;
      }

      &:focus {
        outline: 2px solid #B3B3B3;
      }

      &:disabled {
        background-color: $bg-disabled;
      }
    }

    &:hover {
      cursor: pointer;
    }


    &:first-child {
      margin-right: 10px;
    }
  }

  &__clear {
    width: 16px;
    height: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}